.blog-article-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    height: 10vh;

    /* outline: red 3px dashed; */
}


.blog-article-header-text {
    font-size: 3.5rem;

    /* outline: red 2px dashed; */
}


.blog-article-content {
    padding: 100px 15vw;
    height: 30vw;

    /* outline: blue 3px dashed; */
}


.blog-article-buttons {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: 20vw;
    row-gap: 10px;
    column-gap: 50px;

    /* outline: blue 2px dashed; */
}


.blog-article-button {
    display: block;

    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    text-decoration: none;

    overflow: hidden;
    width: 20vw;
    height: 18vw;
}


.blog-article-button:hover {
    background-color: rgba(212, 197, 197, 0.784);
}


.blog-article-button-image {
    width: 100%;
    height: 50%;
    object-fit: cover;
}


.blog-article-button-text {
    color: rgb(51, 17, 17);
    width: 100%;
    height: 50%;
    text-align: left;
}


.blog-article-button-header {
    font-size: 1.4rem;
    margin: 8px 150px 16px 10px;
}


.blog-article-button-paragraph {
    font-size: 1rem;
    margin: 8px 80px 8px 10px;
}

