.black-button {
  background-color: #00ff0800;
  aspect-ratio: 8 / 1;

  color: black;
  font-size: min(1.5rem, 1.25vw, 2.89vh);
  font-weight: 600;

  border: 5px black solid;
  border-radius: 40px;

  cursor: pointer;
  
  transition: background-color 0.3s ease;
}


.black-button:hover {
  background-color: rgba(195, 188, 188, 0.733);
}


.blue-button {
    background-color: #0091ff;
    aspect-ratio: 8 / 1;

    color: white;
    font-size: min(1.5rem, 1.25vw, 2.89vh);
    font-weight: 600;

    border: none;
    border-radius: 40px;

    cursor: pointer;

    transition: background-color 0.3s ease;
}


.blue-button:hover {
    background-color: #137ed09f;
}