footer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: mediumseagreen;
    height: 300px;
    margin-top: 15vh;

    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-size: 1.3rem;
}



.footer-info, .footer-contact-us {
    margin-top: 40px;
}


.footer-info {
    max-width: 30%; 
}

.footer-info-text {
    margin-top: 4px;
    font-size: 1rem;
    padding-right: 8vw;
}


.footer-contact-us-header {
    margin-left: 35px;
}

.footer-contact-us-content {
    margin-top: 2px;
    width: 100%;
}

.footer-contact-us-contact {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 2px;
}

.footer-contact-us-icon {
    margin-top: 3px;
    width: 32px;
    height: 32px;
}

.footer-contact-us-label {
    line-height: 35px;
}
