.first-part {
    display: flex;
    flex-direction: row;
    padding: 5rem;
    height: 70vh;

    /* outline: green dashed 5px; */
}


.first-part-left {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 60%;
    margin-left: 3vw;

    /* outline: red dashed 5px; */
}


.first-part-image {
    display: inherit;

    max-height: 70%;
    width: auto;
    border-radius: 25px;

    /* outline: red dashed 3px; */
}



.first-part-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-right: 10vw;

    height: 100%;
    width: 50%;

    /* outline: blue dashed 5px; */
}


.first-part-text {
    display: block;
    text-align: right;

    width: 62%;

    /* outline: blue dashed 3px; */
}


.first-part-headers {
    font-size: 3.5rem;
    padding-top: 0rem;
    margin-top: 0.65rem;
    margin-bottom: 0rem;


    /* outline: blue dashed 1px; */
}


.first-part-header {
    font-size: 3.5rem;
    padding-top: 0rem;
    margin-top: 0.65rem;
    margin-bottom: 0rem;
}


.first-part-par {
    font-size: 1.2rem;
    height: 20rem;

    padding-left: 8.125rem;
    margin-top: 1.25rem;
    margin-bottom: 2.5rem;

    /* outline: blue dashed 1px; */
}


.first-part-buttons {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;

    /* outline: blue dashed 1px; */
}


.part-button {
    display: block;
    margin: 1.25rem auto;
}