.first-part {
    display: flex;
    flex-direction: row;
    padding: 80px;
    height: 70vh;

    /* outline: green dashed 5px; */
}


.first-part-left {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 60%;
    margin-left: 3vw;
    margin-right: 5vw;

    /* outline: red dashed 5px; */
}


.first-part-image {
    display: inherit;

    max-height: 70%;
    width: auto;
    border-radius: 25px;

    /* outline: red dashed 3px; */
}



.first-part-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* margin: 0px 80px; */

    height: 100%;
    width: 50%;

    /* outline: blue dashed 5px; */
}


.first-part-text {
    display: block;
    text-align: right;

    width: 600px;

    /* outline: blue dashed 3px; */
}


.first-part-headers {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 3.5rem;
    padding-top: 0px;

    /* outline: blue dashed 1px; */
}


.first-part-header {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 3.5rem;
    padding-top: 0px;
}


.first-part-par {
    font-size: 1.2rem;
    height: 20rem;

    padding-left: 130px;
    margin-top: 20px;
    margin-bottom: 40px;


    /* outline: blue dashed 1px; */
}


.first-part-buttons {
    margin-top: 20px;
    margin-bottom: 20px;

    /* outline: blue dashed 1px; */
}


.part-button {
    display: block;
    margin: 20px auto;
}