.first-part {
    display: flex;
    flex-direction: row;
}


.first-part-left {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 60%;

    /* outline: red dashed 5px; */
}


.first-part-image {
    max-width: 72%;
    max-height: 55.8%;
    height: auto;
    border-radius: 25px;

    /* outline: red dashed 3px; */
}



.first-part-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 50%;

    /* outline: blue dashed 5px; */
}


.first-part-text {
    display: block;
    text-align: right;

    width: 62%;

    /* outline: blue dashed 3px; */
}


.first-part-headers {
    /* outline: blue dashed 1px; */
}


.first-part-header {
    font-size: max(2.7rem, 2.25vw, 5.2vh);
    margin-top: 0.65rem;
}


.first-part-par {
    font-size: max(0.8rem, 0.67vw, 1.54vh);

    padding-left: 3.125vw;
    margin-top: 1.25rem;
    margin-bottom: 2.5rem;

    /* outline: blue dashed 1px; */
}


.first-part-buttons {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;

    /* outline: blue dashed 1px; */
}


.part-button {
    display: block;
    margin: 1.25rem auto;
    width: 100%;
}