html {
    font-size: 1rem;
}

* {
    margin: 0;
    padding: 0;
}


html, body, main {
    width: 100%;
}


body {
    background-color: rgb(242, 234, 234);
}


main {
    display: block;
}


.part {
    margin-top   : 6vw;
    margin-bottom: 4vw;
}



.page-content {
    display: block;
    padding: 0 calc(30vw - 19.2px * 18);
}

