html {
    font-size: 1rem;
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
}


html, body, main {
    height: 100%;
    width: 100%;
}


body {
    background-color: rgb(242, 234, 234);
}


main {
    display: block;
}
