html {
    font-size: 1rem;
}

* {
    margin: 0;
    padding: 0;
}


html, body, main {
    height: 100%;
    width: 100%;
}


body {
    background-color: rgb(242, 234, 234);
}


main {
    display: block;
}


.part {
    padding: 4vw calc(30vw - 19.2px * 18);
    height: 80vh;

    /* outline: green dashed 5px; */
}
