header {
    width: 100%;
    height: 10vh;
    background-color: white;

    /* padding: 10px;
    border: red dashed; */
}


.menu {
    display: flex;
    width: 100%;

    align-items: center;
}


.menu-logo {
    width: 45%;
    height: 100%;
}


.menu-logo-image {
    margin-left: 20%;
    padding-left: 20%;
    margin-right: 20%;
    padding-right: 20%;

    width: 100%;
    height: 100%;
}


.menu-bar-item {
    margin-left: 5px;
    margin-right: 5px;

    padding: 15px 25px 15px;
    border-radius: 7px;
}


.menu-bar-item:hover {
    background-color: rgb(241, 241, 241);
}


.menu-bar-text {
    color: rgb(44, 39, 39);
    text-decoration: none;
    font-size: 1.1rem;
}

