.team-photo {
    display: flex;
    justify-content: center;
    align-items: center;
}


.team-photo-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center 0;
}


.team-photo-label {
    position: absolute;
    color: white;
    text-align: center;

    text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
}



.page-content {
    padding: 0 calc(30vw - 19.2px * 18 + 4vw);
}



.part {
    display: flex;
    flex-direction: row;

    /* outline: green dashed 7px; */
}


.side {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50%;


    /* outline: red dashed 5px; */
}


.portrait {
    width: 300px;
    height: auto;
    border-radius: 20px;

    /* outline: red dashed 3px; */
}


.person-info {
    font-size: 20px;
    line-height: 1.9;
    font-weight: 500;

    /* outline: blue dashed 3px; */
}
